content_to_show = '<li class="list-group-item"><p><strong><%= @comment.content %></strong><br><br>'
                + '(<%= time_ago_in_words(@comment.created_at) %>)</p></li>'
$('.list-group').prepend(content_to_show).hide().fadeIn(2000);
$('#comment-count').text('(<%= @new_counts %>)')