@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font-family: 'Montserrat', 微軟正黑體, sans-serif !important;
}

.jumbotron { 
    width: 100%;
    height: 800px;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF !important;
    padding-top: 18% !important;

    h1 {
        font-weight: 900;
        text-transform: uppercase;
    }
    
    p {
      font-size: 2em !important;
    }
}

/* button */

#btn-view-project {
  margin-top: 30px; 
  color: #FFFFFF;
  background-color: transparent;
  border-color: #FFFFFF;
  transition: 0.3s;
  &:hover {
    background-color: #FFFFFF;  
    color: black;
  }
}

.panel-body {
  padding: 0 !important;
  background: black;
  position: relative !important;
  img {
    transition: 0.3s;  
  }
  &:hover {
    img {
      opacity: 0.4;  
    }
    .projects_count {
      position: absolute;  
      display: block;
      color: #FFFFFF;
    }
  }
  .projects_count {
    position: absolute;  
    left: 0;
    right: 0;
    top: 50%;
    display: none;
  }  
}

.panel-default {
  margin-bottom: 50px !important;
}
.categories_image {
  width: 100%;
  height: 200px;
}

.spacer {
    width: 200px;
    height: 2px;
    margin: auto;
    background: linear-gradient(-90deg, white, DarkRed);
    margin-top: 20px;
    margin-bottom: 20px;
}

.categories-link {
  &:hover {
    text-decoration: none;
  }
}

#add-result {
  margin-top: 50px;
}

.project_image {
	img {
	  max-width: 100%;
	 	max-height: 350px;
		display: block;
		margin: 0 auto;
	}
}

.box {
	margin: 10px;
	width: 350px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.22);
	border-radius: 7px;
	text-align: center;
}
#link_show {
  margin-top: 20px;
	.panel-heading {
		h2 {
		  letter-spacing: 1px;
			text-align: left;
			margin: 5px;
		}	 
	}
	.link_show_left {
	  padding-right: 30px !important;
	}
	
	.link_image {
		img {
	  	max-width: 100%;
	  	max-height: 350px;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		background-color: #FFF !important;
		img {
		  float: left;
	  	max-width: 100%;
	  	max-height: 350px;
			display: block;
			margin: 0 20px 15px 0;		  
		}
		.description {
			color: #868686;
			line-height: 1.75;
			letter-spacing: 1px;
		}
	}
	.panel-footer {
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
}

#project-aftersave {
  font-family: 'Railway', 微軟正黑體, sans-serif !important;;
  p {
    letter-spacing: 1px;
  }
  
}